# Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
*.db
*.bat
[Dd]ebug*/
[Rr]elease*/

# OSX/Linux build products
*.DS_Store
*.mak*
*.mak.vpc_crc
*.project
*.xcodeproj/

# Specific Source build products
